@import '~normalize-scss';
@import '~vue-resize/dist/vue-resize';
@import '~flickity/dist/flickity';

@include normalize();

$font-domaine: 'Domaine Sans', sans-serif;
$font-domaine-test: 'Domaine Sans Text Test', sans-serif;
$font-houschka: 'Houschka Pro', sans-serif;

@font-face {
  font-family: 'Domaine Sans';
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url('~assets/fonts/DomaineSansDisplay-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'Domaine Sans Text Test';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('~assets/fonts/DomaineSansTextTest-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Houschka Pro';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src: url('~assets/fonts/Houschka Pro Medium.otf') format('opentype');
}

@font-face {
  font-family: 'Houschka Pro';
  font-weight: 200;
  font-style: normal;
  font-display: swap;
  src: url('~assets/fonts/Houschka Pro Light.otf') format('opentype');
}

.web-title {
  margin-top: 0;
  font-weight: normal;
  font-family: $font-domaine;
  letter-spacing: 8px;
  text-align: center;

  padding: 64px 0 64px 0;
  color: #fff;
}


.background-carousel {
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;

  .carousel-cell {
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    .background-image {
      z-index: -1;
      position: absolute;
      width: 100%;
      height: 100%;

      background-size: cover;

      opacity: 0.8;
    }

    .hero-title {
      color: white;
      display: flex;
      align-items: center;
      height: 100%;

      .container {
        width: 100%;
      }

      h2 {
        font-weight: 400;
        font-family: $font-domaine;
        letter-spacing: 12pt;
        text-transform: uppercase;
        font-size: 16pt;
        margin-bottom: 32px;
      }
    }
  }
}

.arrows {
  margin: 0 -32px 0 -32px;
  width: 320px;
  display: flex;

  position: absolute;
  bottom: 25%;

  .arrow-line {
    height: 1px;
    background-color: #fff;
    width: 100%;
    margin-top: 40px;
  }
}

footer {
  color: #fff;
}

.about-title {
  font-family: $font-domaine-test;
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: 16pt;

  padding: 16px 0 16px 0;
}

footer .about {
  font-family: $font-houschka;
  letter-spacing: 1pt;
  line-height: 24pt;
  font-size: 14pt;
  width: 50%;
}

.position-relative {
  position: relative;
}

.float-right {
  float: right;
}

.background-carousel {
  .carousel-cell {

  }
}

.arrow {
  padding: 32px;
  text-transform: uppercase;
  display: inline-block;

  a {
    text-decoration: none;
    color: white;
  }
}

.container {
  max-width: 1200px;
  margin: auto;

  padding: 0 32px 0 32px;
}

.section-title {
  font-weight: 300;
  font-family: $font-domaine;
  text-transform: uppercase;
  text-align: center;
  font-size: 18pt;
  letter-spacing: 12px;
  line-height: 32pt;

  padding: 64px 0 64px 0;
}

.brand {
  display: flex;
  text-align: right;
}

.brand-1 {
  padding: 32px 0 32px 0;
  flex-direction: column-reverse;

  .description {
    flex: 1;
    text-transform: uppercase;
    padding: 15px 0 15px 0;

    h3 {
      font-family: "Domaine Sans", sans-serif;
      letter-spacing: 12px;
      font-size: 16pt;
      font-weight: 300;
      line-height: 32pt;
      padding: 15px 0 15px 0;
      margin: 0;
    }
  }

  .background {
    position: relative;
    width: 100%;
    height: 500px;
    right: 0;
    overflow: hidden;
  }
}


.brand-2 {
  position: relative;
  flex-direction: column;

  .description {
    font-family: 'Houschka Pro', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    line-height: 42px;
    color: #4c463c;

    padding: 0;
  }

  .background {
    position: relative;
    right: 0;
    width: 100%;

    z-index: 99;

    height: 650px;

    overflow: hidden;
  }
}

.connect {
  font-size: 10pt;
  text-transform: uppercase;
  font-family: 'Houschka Pro', sans-serif;

  letter-spacing: 8px;
}

.instagram {
  padding: 30px 0 30px 0;

  .logo {
    width: 12px;
  }

  span {
    font-size: 10pt;
    text-transform: uppercase;
    font-family: $font-domaine;
    letter-spacing: 10pt;
    margin-left: 10px;
  }
}

.instagram-container {
  padding-bottom: 200px;

  .flickity-viewport {
    overflow: visible;
  }
}

.h-full {
  height: 100%;
}

.footer-text {
  padding: 60px 0 60px 0;
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-wrap: wrap;

  .footer-item-1 {
    flex: 0 0 100%;
    display: flex;
    justify-content: center;

    .footer-nav {
      text-decoration: none;
      color: white;

      padding: 30px 0 30px 0;
      text-transform: uppercase;

      letter-spacing: 6pt;

      .nav-link {
        font-family: $font-houschka;
        font-size: 14pt;
      }

      .nav-title {
        font-family: $font-domaine;
        font-size: 48pt;
        margin: 32px 0 48px 0;

        position: relative;
        overflow: hidden;
      }

      .nav-title:after {
        content: "";
        position: absolute;
        right: 0;
        width: 0;
        bottom: 0px;
        background: #fff;
        height: 2px;
        transition-property: width;
        transition-duration: 0.3s;
        transition-timing-function: ease-out;
      }

      .nav-title:hover:after,
      .nav-title:focus:after,
      .nav-title:active:after {
        left: 0;
        right: auto;
        width: 100%;
      }
    }
  }

  .footer-item-2 {
    align-self: flex-end;

    .footer-item {
      width: 100%;

      .about-contact {
        a {
          text-decoration: none;
          color: #fff;
        }
      }
    }
  }

  .footer-item-3 {
    font-size: 16pt;
    align-self: flex-end;
    margin: 0 -10px 0 -10px;

    a {
      margin: 0 10px 0 10px;
      text-decoration: none;
      color: white;
    }
  }
}

.main-carousel {
  &:focus {
    outline: none;
  }
}

.main-carousel .carousel-cell {
  width: 100vw;

  padding-right: 30px;
}

.main-carousel .carousel-cell > .background-image {
  width: 100%;
  height: 500px;
  background-size: cover;
}

@media screen and (min-width: 576px) {
  .background-carousel .carousel-cell .hero-title h2 {
    font-size: 32pt;
  }

  .main-carousel .carousel-cell {
    width: 50vw;
  }

  .section-title, .brand-1 .description h3 {
    font-size: 24pt;
    line-height: 48pt;
  }

  .brand-1 {
    .description {
      padding: 30px 0 0 0;

      h3 {
        padding: 30px 0 0 0;
      }
    }
  }
}

@media screen and (min-width: 768px) {
  .background-carousel .carousel-cell .hero-title h2 {
    font-size: 48pt;
  }

  .section-title, .brand-1 .description h3 {
    font-size: 32pt;
    line-height: 64pt;
  }
}

@media screen and (min-width: 992px) {
  .background-carousel .carousel-cell .hero-title h2 {
    font-size: 64pt;
  }

  .brand-1 {
    flex-direction: column;

    .description {
      padding: 100px 45% 0 0;
    }

    .background {
      position: absolute;
      width: 40%;
      height: 900px;
    }
  }

  .brand-2 {
    .description {
      padding: 64px 60% 64px 0;
    }

    .background {
      width: 45%;
      position: absolute;
      right: 10%;
    }
  }

  .section-title, .brand-1 .description h3 {
    font-size: 32pt;
    line-height: 64pt;
  }

  .footer-text {
    .footer-item-1 {
      justify-content: flex-end;
    }

    .footer-item-2 {
      .footer-item {
        width: 50%;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .brand-1 {
    flex-direction: column;

    .description {
      padding: 100px calc(50% - 5vw) 0 0;
    }
  }

  .main-carousel .carousel-cell {
    width: 27vw;
  }
}

.underline {
  display: inline;
  position: relative;
  overflow: hidden;
}

.underline:after {
  content: "";
  position: absolute;
  right: 0;
  width: 0;
  bottom: -4px;
  background: #fff;
  height: 2px;
  transition-property: width;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.underline:hover:after,
.underline:focus:after,
.underline:active:after {
  left: 0;
  right: auto;
  width: 100%;
}

.hero-bullets {
  color: white;
  position: absolute;
  transform: rotate(-90deg);
  margin: -5px 0 -5px 0;

  bottom: 10%;
  left: 10%;

  .bullet-item {
    padding: 5px 0 5px 0;

    .line {
      width: 20px;
      height: 1px;
      background-color: white;
      display: inline-block;
      margin: 4px 0 4px 0;
    }

    .bullet {
      display: inline-block;

      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #beb8a9;
    }
  }

  .active .bullet {
    background-color: #fff;
  }
}
.socials {
  font-family: $font-houschka;

  position: absolute;
  bottom: 10%;
  right: 10%;

  margin: 0 -10px 0 -10px;

  a {
    margin: 0 10px 0 10px;

    text-decoration: none;
    color: #fff;
  }
}

